[submodule "vagrant"]
	path = vagrant
	url = https://github.com/horizon-institute/dataware.vagrant.git
[submodule "packages"]
	path = packages
	url = https://github.com/horizon-institute/dataware.packages.git
[submodule "catalog"]
	path = catalog
	url = https://github.com/horizon-institute/dataware.catalog.git
[submodule "prefstore"]
	path = prefstore
	url = https://github.com/horizon-institute/dataware.prefstore.git
